<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>La Tercera Online</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
        <link rel="stylesheet" href="assets/css/style.css">
        <link rel="shortcut icon" type="image/x-icon" href="{{site.baseurl}}/assets/logo_mini.ico">
    </head>
<body>
    {% include header.html %}
<div class="container-fluid institucional">
<div class="container">
    <h2>Dirección general: Adriana Roa</h2>
</div>        
<div class="row">
    <div class="col-6 ">
        <h2>Práctica clínica y supervisión</h2>
        <div class="row">
        <div class="col-4">
            <h3>Directora</h3>
            <div class=" col-sm-6 col-lg-4 wow fadeInUp" data-wow-delay=".2s" style="visibility: visible; animation-delay: 0.2s; animation-name: fadeInUp;">
                <div class="team-style07">
                    <div class="team-thumb mb-1-9">
                        <div class="thumb"><img src="https://bootdey.com/img/Content/avatar/avatar1.png" class="rounded-circle staff-img" alt="..."></div>
                    </div>
                    <h2 class="h5 mb-1"><a href="#!">Adriana Roa</a></h2>
                </div>
            </div>
        </div>
        <div class="col-8">
            <h3>Co-directoras</h3>
        <div class="row">
            <div class="col-sm-6 col-lg-4 mt-1-9 wow fadeInUp" data-wow-delay=".2s" style="visibility: visible; animation-delay: 0.2s; animation-name: fadeInUp;">
                <div class="team-style07">
                    <div class="team-thumb mb-1-9">
                        <div class="thumb"><img src="https://bootdey.com/img/Content/avatar/avatar1.png" class="rounded-circle staff-img" alt="..."></div>
                    </div>
                    <h2 class="h5 mb-1"><a href="#!">Adriana Roa</a></h2>
                </div>
            </div>
            <div class="col-sm-6 col-lg-4 mt-1-9 wow fadeInUp" data-wow-delay=".2s" style="visibility: visible; animation-delay: 0.2s; animation-name: fadeInUp;">
                <div class="team-style07">
                    <div class="team-thumb mb-1-9">
                        <div class="thumb"><img src="https://bootdey.com/img/Content/avatar/avatar1.png" class="rounded-circle staff-img" alt="..."></div>
                    </div>
                    <h2 class="h5 mb-1"><a href="#!">Adriana Roa</a></h2>
                </div>
            </div>
        </div>
        </div>
        </div>
    </div>
    <div class="col-md-6 col-sm-6">
            <h2>Formación teórico-clínica</h2>

            <div class="row">
                <div class="col-6">
                <h3>Director</h3>
                <div class=" col-sm-6 col-lg-4 mt-1-9 wow fadeInUp" data-wow-delay=".2s" style="visibility: visible; animation-delay: 0.2s; animation-name: fadeInUp;">
                    <div class="team-style07">
                        <div class="team-thumb mb-1-9">
                            <div class="thumb"><img src="https://bootdey.com/img/Content/avatar/avatar1.png" class="rounded-circle staff-img" alt="..."></div>
                        </div>
                        <h2 class="h5 mb-1"><a href="#!">Adriana Roa</a></h2>
                    </div>
                </div></div>
            <div class="col-6"><h3>Co-directora</h3>
                <div class=" col-sm-6 col-lg-4 mt-1-9 wow fadeInUp" data-wow-delay=".2s" style="visibility: visible; animation-delay: 0.2s; animation-name: fadeInUp;">
                    <div class="team-style07">
                        <div class="team-thumb mb-1-9">
                            <div class="thumb"><img src="https://bootdey.com/img/Content/avatar/avatar1.png" class="rounded-circle staff-img" alt="..."></div>
                        </div>
                        <h2 class="h5 mb-1"><a href="#!">Adriana Roa</a></h2>
                    </div>
                </div>
                </div></div> 
        </div>
    </div>
    <div class="col-md-6 col-sm-6">
        <h2>Plantel profesional</h2>
        <h3>Equipo asistencial</h3>
        <ul>
            <li>Lic. Andrea Bravo</li>
            <li>Lic. Cecilia Campitelli</li>
            <li>Lic. Daniel Cartagena</li>
            <li>Lic. Maria Cristina Carlotto</li>
            <li>Lic. Josefina Chiocconi</li>
            <li>Lic. Paola Correa</li>
            <li>Lic. Martín Demirdjian</li>
            <li>Lic. Andrea Mónica Fernandez</li>
            <li>Lic. Silvana Gil Segal</li>
            <li>Lic. Noelia Sabrina Gonzalez</li>
            <li>Lic. María Emilia Guerra</li>
            <li>Lic. M. Fernanda Lecina</li>
            <li>Lic. Victoria Maravec</li>
            <li>Lic. Adriana Massetani</li>
            <li>Lic. Cintia Matus</li>
            <li>Lic. Camila Moreno</li>
            <li>Lic. Carlos Mutani</li>
            <li>Lic. Paula Rizzi</li>
            <li>Lic. Ignacio Rodriguez</li>
            <li>Lic. Sofía Stadelman</li>
            <li>Lic. Carlos Tuñon</li>
            <li>Lic. Wang Yi Ran</li>
            <li>Lic. Pablo Zarate</li>
        </ul>
        <h3>Psiquiatría</h3>
            <p>Dra. María Laura Botella</p>
    </div>
</div>
<h2>Colaboradores</h2>
<div class="row">
    <div col-3></div>
    <div col-3></div>
    <div col-3></div>
    <div col-3></div>
</div>
</div>


{% include footer.html %}



<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
</body>
</html>